<%= simple_form_for @experience do |f| %>
  <%= f.input :title, label: "Title", placeholder: "specify a short title", :label_html => { :class => 'form_title' } %>
  <%= f.input :description, label: "Description", placeholder: "specify a description that explains your wild activity in details", :label_html => { :class => 'form_title' } %>

    <div class="row">
      <div class="col">
        <%= f.input :location, label: "Location", placeholder: "The location for the experience",:label_html => { :class => 'form_title' } %>
      </div>
      <div class="col">
        <%= f.input :meeting_point, label: "Meeting Point", placeholder: "more info about where to meet", :label_html => { :class => 'form_title' } %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.input :activity,
            as: :radio_buttons,
            label_html: { class: "form_title" },
            item_wrapper_class: "tag-item",
            input_html: { class: "tag-selector" },
            collection: Experience::ACTIVITIES %>
      </div>
      <div class="col">
        <%= f.input :activity_effort,
            as: :radio_buttons,
            label_html: { class: "form_title" },
            item_wrapper_class: "tag-item",
            input_html: { class: "tag-selector" },
            collection: Experience::ACTIVITY_EFFORTS %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :price, label: "Price", placeholder: "per person, per day",:label_html => { :class => 'form_title' }  %>
      </div>
      <div class="col">
        <%= f.input :max_guests, label: "Max nr. of Guests", :label_html => { :class => 'form_title' } %>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
    </div>
    <%= f.input :policies, label: "Policies",  placeholder: "outlines the guidelines and requirements when booking this experience, whats included as well as the refund policy", :label_html => { :class => 'form_title' } %>
    <%= f.button :submit, "Add my Experience", class: "btn btn-warning btn-lg btn-block rounded-pill mb-5 shadow" %>
<% end %>
