<div class="banner-small" style="background-image: url(https://images.unsplash.com/photo-1523287281576-5b596107a6ae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="banner-content">
    <h1>What's your next adventure?</h1>
  </div>
</div>

<div class="container my-3">
  <form class="search-input" action="/experiences">
    <label for="location">Location</label>
    <input id="location" type="text" name="location" placeholder="Barcelona">
    <label for="start-date">Start-Date</label>
    <input id="start-date" type="text" name="start-date" placeholder="<%= Date.today.strftime('%F') %>">
    <label for="end-date">End-Date</label>
    <input id="end-date" type="text" name="end-date" placeholder="<%= (Date.today + 3).strftime('%F') %>">
    <button class="btn search" type="submit">
                <i class="fa fa-search"></i>
            </button>

  </form>
    <!-- 
    <div class="container" id="filter">
      <h2>Your filters:</h2>
      <h3>Location: Barcelona || Start date 03/03/2021 || Category: Sport </h3>
    </div>
  -->
</div>


<div class="cards-map">
  <div class="cards px-3">
    <% @experiences.each do |experience| %>
      <div class="card-trip">
        <%= cl_image_tag experience.photo.key %>

        <div class="card-trip-infos">
          <div>
            <h2><%= link_to experience.title, experience %></h2>
            <p>Short description here! <%= experience.description.slice(0..30) %></p>
          </div>
          <p class="card-trip-pricing">€<%= experience.price %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoicG9wcHlqZW5uaW5ncyIsImEiOiJja2xjZGdjdXIxZXJ1Mm9sYm0ycGRyNjJvIn0.L3m2Fuc9wxwHdOgZ6lLUkw' style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

